// File Name: layout.pug
//Author Name: Akhilesh Arora
//File Desc.: This file includes navbar, includes header files with some css and js files.

doctype html
html(lang = 'en')
  head
    //including header.pug file
    include partials/header.pug
    +head("Starter MVP")
    title = title

    //link to main.css CSS stylesheet 
    link(rel='stylesheet', href='/stylesheets/main.css')

    //including javascript file
    script(src="/javascripts/JavaScript.js")
  body
    //Navbar having link to different pages.
    .topNav
        nav.navbar.navbar-expand.navbar-light.bg-light
          a(href='/' aria-label='navbar image').navbar-brand.mr-0.mr-md-2
            img(src='./images/myImage.jpg' , width='36', height='36')
          .collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                  a.nav-link(href= '/') Home
                li.nav-item
                  a.nav-link(href='/about') About
                li.nav-item
                  a.nav-link(href= '/services') Services
                li.nav-item
                  a.nav-link(href='/project') Project
                li.nav-item
                  a.nav-link(href='/contact') Contact
    block content