extends layout

block content

  // File Name: services.pug
  //Author Name: Akhilesh Arora
  //File Desc.: This file shows services that I can offer and my skills with a progress bar for better visual and understanding.


  article
  div(class="container-fluid")
    div(class="row jumbotron jumbotron-fluid")
      div(class="col-sm-12")
        h2(class="text-center") Based on my skills, services that I can offer is:
        p(class="mx-md-5 text-center") Web design/developement, Software developer and Software tester.

  div(class="container article3")
    div(class="row Skill")
      div(class="col-md-5 mr-md-5")
        h5(class=" text-center") Soft Skills
        hr

        p(style="margin-bottom:-2rem;text-align: left") Team Work 
        div(id="progressBar1") 
          div(id="barWidth1")
        p(id="skillHeading") Time Management
        div(id="progressBar1")
          div(id="barWidth1")
        p(id="skillHeading") Problem Solving
        div(id="progressBar1")
          div(id="barWidth1")
        p(id="skillHeading") Communication Skills
        div(id="progressBar1")
          div(id="barWidth1")
        p(id="skillHeading") Adaptability
        div(id="progressBar1")
          div(id="barWidth1")
        p(id="skillHeading") Work Ethic
        div(id="progressBar1")
          div(id="barWidth1")

      div(class="col-md-5 ml-md-5 text-center")
        h5 Technical Skills
        hr
        p(style="margin-bottom:-3rem;text-align:left;") HTML5/CSS3
        div(id="progressBar1")
          div(id="barWidth2")
        p(id="skillHeading") JS/JQuery
        div(id="progressBar1")
          div(id="barWidth3")
        p(id="skillHeading") Bootstrap
        div(id="progressBar1")
          div(id="barWidth4")
        p(id="skillHeading") PHP
        div(id="progressBar1")
          div(id="barWidth5")
        p(id="skillHeading") C++
        div(id="progressBar1")
          div(id="barWidth6")
        p(id="skillHeading") Java
        div(id="progressBar1")
          div(id="barWidth7")
        p(id="skillHeading") JSP/Servlets
        div(id="progressBar1")
          div(id="barWidth8")
        p(id="skillHeading") Python
        div(id="progressBar1")
          div(id="barWidth9")
        p(id="skillHeading") .NET
        div(id="progressBar1")
          div(id="barWidth10")
        p(id="skillHeading") Data Structures
        div(id="progressBar1")
          div(id="barWidth11")
        p(id="skillHeading") MySQL
        div(id="progressBar1")
          div(id="barWidth12")
        p(id="skillHeading") C#
        div(id="progressBar1")
          div(id="barWidth6")
        p(id="skillHeading") IOT
        div(id="progressBar1")
          div(id="barWidth13")
 


  include partials/footer.pug
  +footer()